<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>西瓜树</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
<link rel="icon" type="image/x-icon" href="/img/favicon3.ico">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" id="theme-styles">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
<style type="text/css">
    .over {border-style: groove}
    .out {border-bottom-width: 0px;border-right-width: 0px}

    .overblack {color: #000000}
    .outgray{color: #adadad}
    .outblue{color: #5bc0de}
    .overblue{color: #00ff00;}
    a:link{color: #269abc;}
    a:hover{color: black;}
    </style>
</head>
<body>
    <header>
        <div class="widewrapper masthead" style="background-image: url(img/back2.jpg); background-size: cover; height:100%">
            <div class="container">
                <a href="/" id="logo">
                    <img src="img/logo3.png" alt="xiguashu">
                </a>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav" style="font-size: large">

                            <li >
                                <a href="/" style="color: #ffffff">Home</a>
                            </li>
                            <li>
                                <a href="/about" style="color: #ffffff;text-align: center">About </a>
                            </li>
                            <li>
                                <a href="/contact" style="color: #ffffff;text-align: center">Contact </a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader" style="background-color: #5bc0de;border-width: 0px">
            <div class="container">
                <div class="clean-breadcrumb" >
                    <a href="/" style="font-size: 20px;color: #ffffff" >Blog</a>
                    <span class="separator">&#x2F;</span>
                    <a th:href="@{/catalog(id=${catalogid})}" th:text="${catalogid}" style="font-size: 20px;color: #ffffff"></a>
                </div>
            </div>
        </div>
    </header>

<div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-10 blog-main">
                    <div class="row">
                        <th:block th:each="article : ${Articles}">

                        <div class="col-md-11" >
                            <article class=" blog-teaser">
                                <div  onmouseover="this.className='over'" onmouseleave="this.className='out'">
                                    <a th:href="@{/Article(articleId=${article.getId()})}"><div>&nbsp;</div> </a>
                                <header  style="border-bottom-style: dotted; border-bottom-width:1px ;border-bottom-color: #819090">
                                    <p ><a th:href="@{/Article(articleId=${article.getId()})}" th:text="${article.getTitle()}" style="font-size: 22px;"></a></p>
                                    <div class="body" style="font-size: small;text-align: left" th:text="${article.getIntro()}" ></div>
                                </header>

                                <div class="body">
                                    <div>
                                        <i class="fa fa-clock-o" style="font-size: 13px;"> <span class="meta"  th:text="${article.getCdate()}"></span></i>
                                        <span class="meta"> </span>
                                        <i class="fa fa-tag" style="font-size: 13px;"> <a th:text="${article.getCatalog()}" th:href="@{/catalog(id=${article.getCatalog()})}"></a></i>
                                        <i class="fa fa-comment-o" style="font-size: 13px; text-align: right"> <a style="font-size: 13px;" th:text="${ArticleComments['__${article.getId()}__'].size()}" th:href="@{/Article(articleId=${article.getId()})}"></a></i>
                                    </div>
                                </div>

                                    </div>

                            </article>
                        </div>

                    </th:block>



                    </div>

                </div>
                <aside class="col-md-2 blog-aside">

                        <div >
                            <p style="text-align:start;font-size: 24px;color:#000111"><i class="fa fa-tags"> Catelogs</i></p>
                            <ul style="border-color: #000111;border-style: groove;border-right-width: 0;border-bottom-style: hidden;border-top-style: hidden">
                                <th:block th:each="catalog:${catalogs}">
                                    <li style="font-size: 14px" ><a  th:href="@{/catalog(id=${catalog})}" th:text="${catalog}" ></a></li>
                                </th:block>
                            </ul>
                        </div>
                    <br/>
                    <br>
                    <div>
                        <p style="text-align: start;font-size: 24px;color:#000111;}"><i class="fa fa-paperclip">Recent</i></p>
                            <ul style="border-color: #000111;border-style: groove;border-right-width: 0;border-bottom-style: hidden; border-top-style: hidden">
                                <th:block th:each="post:${recentposts}">
                                    <li style="font-size: 14px"><a  th:href="@{/Article(articleId=${post.getId()})}" th:text="${post.getTitle()}" ></a></li>
                                </th:block>
                            </ul>
                        </div>

                </aside>
            </div>
        </div>
    </div>
    <br>
    <br>

    <footer>
        <div class="widewrapper copyright">
            <i class=" fa fa-copyright" style="font-size: 14px"> </i> <span style="font-size: small">Copyright 2018 - </span>  <a href="http://www.xiguashu.top"style="font-size: small" >西瓜树</a>
        </div>
    </footer>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/modernizr.js"></script>

</body>
</html>