<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>admin</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>

    <div class="container" >
    <div class="row clearfix">
        <div class="col-md-3 column">
            <form role="form" method="POST" th:action="@{/userLogin}" th:object="${Account}">

                     <label for="username">Name</label><input type="text" class="form-control" id="username" th:field="*{name}" />

                     <label for="password">Password</label><input type="password" class="form-control" id="password" th:field="*{password}" />


           <button type="submit" class="btn btn-default">Sign in</button>
            </form>

            <ul class="nav nav-pills">
                 <li role="presentation"><a href="register.html" class="href" target="_blank">Sign up</a></li>
            </ul>

        </div>
    </div>
</div>
    <footer>
        <div class="widewrapper copyright">
            <i class=" fa fa-copyright" style="font-size: 14px"> </i> <span style="font-size: small">Copyright 2018 - </span>  <a href="http://www.xiguashu.top"style="font-size: small" >西瓜树</a>
        </div>
    </footer>
</body>
</html>