<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>西瓜树</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
<link rel="icon" type="image/x-icon" href="/img/favicon3.ico">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/style.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
    <link rel="stylesheet" href="css/style.css" id="theme-styles">

    <!--[if lt IE 9]>
        <script src="js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->

</head>
<body>
<br>
<br>
<br>
<br>
<br>
    <div style="text-align: center">
        <a href="/admin/newArticle"> new article </a>

        <ul style="text-align: center">
            <th:block th:each="article:${articles}">
             <li><a th:href="@{/admin/adminedit(id=${article.getId()})}" th:text="${article.getTitle()}" ></a></li>
            </th:block>

        </ul>
    </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script th:inline="javascript">


</script>
</body>
</html>